<div class="text-center">
  <h1 class="display-4">404</h1>
  <p>Эй дружок пирожок, тобой выбран неправильный адрес, круг пользовательского ремесла <a href="/">два блока вниз.</a></p>
  <button type="button"
          class="btn btn-primary"
          (click)="isOpen = true">
    Эх ты!
  </button>
  <div *ngIf="isOpen">Ответ отрицательный, эх ты, пользователь.</div>

</div>
