<p class="user">{{(user | async)?.email}}</p>
<hw-list-container></hw-list-container>
<li *ngIf="!isAuthorized()"
    class="main-item">
  <a class="main-link"
     (click)="onEnter()">
    Войти
  </a>
</li>
<li *ngIf="isAuthorized()"
    class="main-item">
  <a
    class="main-link"
    (click)="logout()">Выйти</a>
</li>
