<div class="body">
  <div class="card-body">
    <hw-form (passURL)="getMovies($event)"></hw-form>
  </div>
  <div class="list">
    <button *ngIf="page > 2"
            type="button"
            class="btn btn-outline-primary"
            (click)="changePage(page - 2)">
      {{ page - 2 }}
    </button>
    <button *ngIf="page > 1"
            type="button"
            class="btn btn-outline-primary"
            (click)="changePage(page - 1)">
      {{ page - 1 }}
    </button>
    <button *ngIf="page > 0"
            type="button"
            class="btn btn-primary">
      {{ page }}
    </button>
    <button *ngIf="page < pageMax"
            type="button"
            class="btn btn-outline-primary"
            (click)="changePage(page + 1)">
      {{ page + 1 }}
    </button>
    <button *ngIf="page + 1 < pageMax"
            type="button"
            class="btn btn-outline-primary"
            (click)="changePage(page + 2)">
      {{ page + 2 }}
    </button>
  </div>
  <div class="list moved">
    <hw-card-preview *ngFor="let card of cards"
                     [movie]="card">
    </hw-card-preview>
  </div>
</div>
