<div class="item">
  <div class="item item_back">
    <div class="item-content">
      <button type="button"
              class="btn btn-primary"
              (click)="onAdd()">
        Add
      </button>
      <div class="description"><b>Название:</b> {{ movie.title }}</div>
      <div class="description"><b>Дата:</b> {{ movie.releaseDate }}</div>
      <div class="description"><b>Жанры:</b> {{ movie.genre }}</div>
      <div class="description"><b>Оценка:</b> {{ movie.voteAv }}</div>
      <div class="description"><b>Описание:</b> {{ movie.description }}</div>
    </div>
  </div>
</div>
