<div class="list" *ngFor="let list of (asyncLists | async)">
  <hw-movie-list [movies]="list"
                 [isOpen]="isCurrentOpen(list.id)"
                 (listClick)="onListClick(list.id)"></hw-movie-list>
</div>

<p *ngIf="!(asyncLists | async)?.length" class="empty">
  <em>Листов нет.
  </em>
</p>

<br>
<br>
<p class="text-center">
  <button type="button"
          class="btn btn-link"
          (click)="addList()">
    Создать
  </button>
</p>
