<div class="item"
     (click)="onChoice()">
  <div class="item item_back">
    <div class="item-content">
      <div class="description">{{ suggestion.name }}   {{ suggestion.id }}</div>
    </div>
  </div>
</div>
