.item {
  width: 330px;
  height: 40px;
  box-sizing: border-box;
}

.item-content {
  position: relative;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #cbcfd3;
  border-radius: 4px;
  box-shadow: 0 3px 5px 0 rgba(24, 173, 116, 0.65);
  overflow: hidden;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  cursor: pointer;
}

.close:hover {
  background-color: #ededed;
}

.close:before,
.close:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 50%;
  width: 2px;
  margin-left: -1px;
  background-color: #999;
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.name {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #74a3c7;
  text-align: center;
}

.description {
  max-height: 128px;
  overflow: auto;
}

.item_front .item-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item_back .name {
  margin: -20px 0 10px -20px;
  font-size: 13px;
  text-align: left;
}
