<form [formGroup]="form">
  <div class="form">
    <div class="form-title">Поиск</div>
    <div class="form-content">

      <div class="row">
        <label for="title">Название фильма (Ну или часть)</label>
        <input type="text"
               formControlName="title"
               id="title"
               placeholder="Название">
        <div *ngIf="formedTitles"
             class="list">
          <hw-suggestion-preview *ngFor="let suggestion of formedTitles"
                                 [suggestion]="suggestion"
                                 (onClick)="onTitleSug($event)">
          </hw-suggestion-preview>
        </div>
      </div>

      <div class="row row_submit">
        <input type="button"
               class="button"
               value="Искать по Названию"
               [disabled]="!form.get('title').value"
               (click)="onSubmitTitle()">
      </div>

      <div class="row">
        <label for="genre">Жанры (через Ctrl+*ЩЁЛК* можно выбрать несколько</label>
        <select *ngIf="genres.length"
                type="text"
                size="6"
                id="genre"
                formControlName="genre"
                multiple>
          <option *ngFor="let genre of genres"
                  [value]="genre.id">
            {{genre.name}}
          </option>
        </select>
      </div>

      <div class="row">
        <label for="actor">АЙДИШНИК Актёра (можно несколько через запятую без пробела)</label>
        <input type="text"
               id="actor"
               formControlName="actor"
               placeholder="Актёр">
      </div>

      <div class="row">
        <label for="crew">Режиссёр, сценарист, осветитель и прочие, правила заполнения как для актёров</label>
        <input type="text"
               id="crew"
               formControlName="crew"
               placeholder="Команда">
      </div>

      <div class="row">
        <label for="getID">Вбей имя, получи АЙДИШНИК</label>
        <input type="text"
               id="getID"
               formControlName="getID"
               placeholder="Имя человека">
        <div *ngIf="formedPeople" class="list">
          <hw-suggestion-preview *ngFor="let suggestion of formedPeople"
                                 [suggestion]="suggestion">
          </hw-suggestion-preview>
        </div>
      </div>

      <div class="row row_submit">
        <input (click)="onSubmitFeatures()"
               type="button"
               class="button"
               value="Искать по фичам"
               [disabled]="noFeatures()">
      </div>
    </div>
  </div>
</form>

