<div class="item">
  <div class="item item_back">
    <div class="item-content">
      <div *ngIf="movies"
           class="body">
        <div class="close"
             (click)="toggleDelete()">
        </div>
        <div id="title"
             class="title"
             contenteditable="true"
             #title
             (input)="changeTitle(title.textContent)">
          {{movies.name}}
        </div>
        <button *ngIf="!isOpen"
                type="button"
                class="btn btn-primary"
                (click)="toggleOpen()">
          Раскрыть
        </button>
        <div *ngIf="isOpen"
             class="list">
          <hw-movie-preview *ngFor="let movie of (asyncMovies | async)"
                            [movie]="movie"
                            (movieDelete)="onDeleteMovie($event)">
          </hw-movie-preview>
        </div>
        <p *ngIf="!(asyncMovies | async)?.length && isOpen"
           class="empty">
          <em>Тут пусто...</em>
        </p>
          <button *ngIf="(asyncMovies | async)?.length > 1 && isOpen"
                  type="button"
                  class="btn btn-primary"
                  (click)="getRandom()">
            ЗАРАНДОМИТЬ
          </button>
        <p *ngIf="(asyncFilm | async) && isOpen">
          Выпало: <em>{{(asyncFilm | async)}}</em>
        </p>
      </div>
    </div>
  </div>
</div>
