<div class="layout">
  <div class="layout__side">
    <hw-side-bar></hw-side-bar>
  </div>
  <div class="layout__main">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
