.layout {
  display: flex;
  height: 100vh;
}

.layout__side {
  flex: 0 0 380px;
  width: 380px;
  border-right: 1px solid #5601bf;
  padding: 10px 0;
  overflow: auto;
}

.layout__main {
  flex: 1 1 auto;
  overflow: auto;
  padding-bottom: 20px;
}
