<div class="item">
  <div class="item item_back">
    <div class="item-content">
      <div class="close"
           (click)="toggleDelete($event)">
      </div>
      <div class="description">{{ movie.title }} {{ movie.releaseDate }}</div>
      <div class="description">{{ movie.genre }}</div>
    </div>
  </div>
</div>
