<div class="container">
  <div class="row main">
    <div class="main-login main-center">
      <form class="form-horizontal"
            method="post"
            action="#"
            [formGroup]="form"
            (submit)="onSignUp()">

        <div class="form-group">
          <label for="email"
                 class="cols-sm-2 control-label">
            Your Email
          </label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="email"
                     class="form-control"
                     id="email"
                     placeholder="Enter email"
                     formControlName="email"
                     [class.is-invalid]="getEmail().invalid && willShow(getEmail()) || errorMessage === 'Email'">
            </div>
            <div *ngIf="getEmail().errors && willShow(getEmail()) || errorMessage === 'Email'"
                 class="error">
              Введите корректный e-mail
            </div>
            <div *ngIf="getEmail().errors?.maxlength && willShow(getEmail())"
                 class="error">
              Максимум 100 симвлов
            </div>
          </div>
        </div>

        <fieldset [formGroupName]="'pwds'">
          <div class="form-group">
            <label for="pwd"
                   class="cols-sm-2 control-label">
              Password
            </label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password"
                       class="form-control"
                       id="pwd"
                       placeholder="Enter password"
                       formControlName="pwd"
                       [class.is-invalid]="getPwd().invalid && willShow(getPwd())">
              </div>
              <div *ngIf="(getPwd().errors?.minlength || getPwd().errors?.required) && willShow(getPwd())"
                   class="error">
                Минимум 5 симвлов
              </div>
              <div *ngIf="getPwd().errors?.invalid && willShow(getPwd())"
                   class="error">
                Должны быть прописная и заглавная латинские буквы + цифра + спецсимвол из списка _!#+-$
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="pwdRep"
                   class="cols-sm-2 control-label">
              Confirm Password
            </label>
            <div class="cols-sm-10">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                <input type="password"
                       class="form-control"
                       id="pwdRep"
                       placeholder="Repeat password"
                       formControlName="pwdRep"
                       [class.is-invalid]="form.get('pwds').errors && !getPwd().errors && getRep().touched">
              </div>
              <div *ngIf="form.get('pwds').errors && !getPwd().errors && willShow(getRep())"
                   class="error">
                Пароли должны совпадать!
              </div>
            </div>
          </div>
        </fieldset>

        <div class="form-group ">
          <button type="button"
                  class="btn btn-primary"
                  (click)="onSignUp()">
            Регистрация
          </button>
          <button type="button"
                  class="btn btn-primary"
                  (click)="onLogin()">
            Вход
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
